.our-projects{
    width: 1200px;
    padding: 0 15px;
    padding-top: 94px;
    margin: 0 auto;
    margin-bottom: 95px;
}

.our-projects__title{
    display: none;
}

.our-projects__nav{
    display: flex;
    justify-content: center;
}